<div class="table-frame">
  <table class="drive-table">
    <thead>
      <tr>
        <th scope="col">Slot</th>
        <th scope="col">Model</th>
        <th scope="col">Serial</th>
        <th scope="col" class="numeric">Temp</th>
        <th scope="col" class="numeric">Media Err</th>
        <th scope="col" class="numeric">Other Err</th>
        <th scope="col" class="numeric">Predictive</th>
        <th scope="col">SMART</th>
      </tr>
    </thead>
    <tbody>
      {% for drive in drives %}
        <tr>
          <td class="mono">
            {% if drive.slot_url %}
              <a href="{{ drive.slot_url }}">{{ drive.slot }}</a>
            {% else %}
              {{ drive.slot }}
            {% endif %}
          </td>
          <td>{{ drive.model }}</td>
          <td class="mono">{{ drive.serial_number }}</td>
          <td class="numeric status-text status-text--{{ drive.temperature_severity }}">{{ drive.temperature }}</td>
          <td class="numeric">{{ drive.media_errors }}</td>
          <td class="numeric">{{ drive.other_errors }}</td>
          <td class="numeric">{{ drive.predictive_failures }}</td>
          <td class="smart smart--{{ drive.smart_severity }}">{{ drive.smart_label }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
